<% content_for(:page_title) { "#{DOMAIN_NAME} - Listing all the merchants" } %>
<% content_for(:page_description) { "#{DOMAIN_NAME} - Listing all the merchants" } %>


<div class="main_content detail-product">
  <h3 class="title uppercase">Merchants</h3>

  <% if @advertisers.size > 0 %>
    <%= render @advertisers %>
    <%= paginate @advertisers, :window => 2 %>
  <% else %>
    <%= render 'advertisers/no_advertisers' %>
  <% end %>

</div>