<% content_for(:page_title) { "ShopWithMe" } %>
<% content_for(:page_description) { "ShopWithMe" } %>

<%= render 'products/search_form' %>
<div class="main_content">
  <% cache('featured_products', :expires_in => 5.hours ) do %>
    <%= render 'featured_products' %>
  <% end %>

<%
=begin %>
  <h3 class="title"><span class="pull-left">FEATURED DEALS</span><span class="pull-right"><a href="view_all.html">View all deals</a></span></h3>            
  <div class="row-fluid">
    <div class="span7">
      <div class="featured-item">
        <div class="pull-left deal-tag-info">
          <div class="deal-tag">$54</div>
          <div class="deal-discount">55% OFF</div>
        </div>
        <div class="pull-left">
          <a href="detail.html"><img src="img/products/4_photo_2916.jpg" alt="55% off - The Prettiest Beauty Parlon" title="55% off - The Prettiest Beauty Parlon" class="img deal-featured"></a>
          <p><strong><a href="detail.html" title="55% off - The Prettiest Beauty Parlon">55% off - The Prettiest Beauty Parlon</a></strong>
            <br/>by <a href="#" title="The Prettiest Beauty Parlon">The Prettiest Beauty Parlon</a></p>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="other_info">
        <div class="item">
          <div class="deal-tag">$70</div>
          <strong><a href="detail.html" title="70% OFF for satellite T.V. at Soft Bed Hotel">70% OFF for satellite T.V. at Soft Bed Hotel</a></strong>
          <br/>by <a href="#" title="Soft Bed Hotel">Soft Bed Hotel</a>
        </div>
        <div class="item">
          <div class="deal-tag">$50</div>
          <strong><a href="detail.html" title="$50 - one month - Workout Gym">$50 - one month - Workout Gym</a></strong>
          <br/>by <a href="#" title="Workout">Workout</a>
        </div>
        <div class="item">
          <div class="deal-tag">$23</div>
          <strong><a href="detail.html" title="$23 For 30 Minute Massage">$23 For 30 Minute Massage</a></strong>
          <br/>by <a href="#" title="Relaxation Spa">Relaxation Spa</a>
        </div>
        <div class="item">
          <div class="deal-tag">$60</div>
          <strong><a href="detail.html" title="Weekday Promotion - 60% OFF">Weekday Promotion - 60% OFF</a></strong>
          <br/>by <a href="#" title="Golf Club Resort">Golf Club Resort</a>
        </div>
      </div>
    </div>
  </div>
  <h3 class="title"><span class="pull-left">FEATURED CLASSIFIEDS</span><span class="pull-right"><a href="view_all.html">View all classifieds</a></span></h3>
  <div class="container-fluid">
    <div class="row-fluid product_listing">
      <div class="span3">
        <div class="item">
          <a href="detail.html"><img class="img" src="img/products/m4.png" alt="Sell Harley-Davidson" title="Sell Harley-Davidson"></a>
          <a href="detail.html" class="title">Sell Harley-Davidson</a> <span class="label">$200</span><br/>in <a href="view_all.html" class="subinfo">Entertainment</a> by <a href="#" class="subinfo">Amanda</a>                   
        </div>
      </div>
      <div class="span3">
        <div class="item">
          <a href="detail.html"><img class="img" src="img/products/m7.png" alt="Winter Make-up" title="Winter Make-up"></a>
          <a href="detail.html" class="title">Winter Make-up</a> <span class="label">$370</span><br/>in <a href="view_all.html" class="subinfo">Health</a> by <a href="#" class="subinfo">Julia</a>                   
        </div>
      </div>
      <div class="span3">
        <div class="item">
          <a href="detail.html"><img class="img" src="img/products/m8.png" alt="Office Furniture" title="Office Furniture"></a>
          <a href="detail.html" class="title">Office Furniture</a> <span class="label">$120</span><br/>in <a href="view_all.html" class="subinfo">Leisure</a> by <a href="#" class="subinfo">Jane</a>                   
        </div>
      </div>
      <div class="span3">
        <div class="item">
          <a href="detail.html"><img class="img" src="img/products/m2.png" alt="BMW Deluxe" title="BMW Deluxe"></a>
          <a href="detail.html" class="title">BMW Deluxe</a> <span class="label label-important">ask</span><br/>in <a href="view_all.html" class="subinfo">Food</a> by <a href="#" class="subinfo">Mark</a>                   
        </div>
      </div>
    </div>
  </div>
  <h3 class="title"><span class="pull-left">RECENT ARTICLES</span><span class="pull-right"><a href="view_all.html">View all articles</a></span></h3>
  <div class="row-fluid">
    <div class="span7">
      <div class="featured-item">
        <a href="#"><img src="img/products/8_photo_2993.jpg" alt="Investing in Stocks" title="Investing in Stocks" class="img pull-left"></a>
        <strong><a href="#">Investing in Stocks</a></strong>
        <p>Published: 05/12/2010 by <a href="#" target="_blank"> Olivia Matthew</a> in <a href="#">Finance</a></p>
        <p>This is example text for the overview section. This is my boss, Jonathan Hart, a self-made millionaire, he's quite a guy</p>
      </div>
      <div class="featured-item">
        <a href="#"><img src="img/products/7_photo_3011.jpg" alt="Retirement Plans" title="Retirement Plans" class="img pull-left"></a>
        <strong><a href="#">Retirement Plans</a></strong>
        <p>Published: 01/24/2010 by <a href="#" target="_blank"> Anthony Mark</a> in <a href="#">Finance</a></p>
        <p>This is example text for the overview section. One for all and all for one, Muskehounds are always ready.</p>
      </div>
    </div>
    <div class="span5">
      <div class="other_info">
        <p>
          <strong><a href="#">Personal Growth Personal Growth</a></strong>
          <br/>in <a href="#">Life Style</a> - 01/01/2010         
        </p>
        
        <p>
          <strong><a href="#">Starting a Business</a></strong>            
          <br/>in <a href="#">Business</a> - 12/26/2009         
        </p>            
        <p>
          <strong><a href="#">Health for kids</a></strong>              
          <br/>in <a href="#">Fitness</a> - 12/21/2009          
        </p>            
        <p>
          <strong><a href="#">The future of recycling</a></strong>
          <br/>in <a href="#">Volunteer</a> - 07/04/2009
        </p>
      </div>
    </div>
  </div>
  <%
=end %>
</div>
