<% content_for(:page_title) { "Listing Merchants" } %>
<% content_for(:page_description) { "Listing Merchants - #{@advertisers.map{|a| a.name}.join(', ')}" } %>


<div class="span8">

  <h2>Listing all the merchants</h2>

  <%= render :partial => 'advertiser/advertiser', :collection => @advertisers, :as => :advertiser %>
  <%= paginate @advertisers, :window => 2 %>
</div>
