<% content_for(:page_title) { "#{DOMAIN_NAME} - Listing all the brands" } %>
<% content_for(:page_description) { "#{DOMAIN_NAME} - Listing all the brands" } %>

<div class="main_content detail-product">
  <h3 class="title uppercase">Brands</h3>

  <% if @brands.size > 0 %>
    <%= render @brands %>
    <%= paginate @brands, :window => 2 %>
  <% else %>
    <%= render 'brands/no_brands' %>
  <% end %>

</div>