<% content_for(:page_title) { "Display products by #{@brand.name}" } %>
<% content_for(:page_description) { "View over {@products.total_count} products by  #{@brand}"} %>

<%#=render 'products/search_form' %>
<div class="main_content detail-product">
  <h3 class="title">LISTINGS by <%=@brand%></h3>

  <% if @products.size > 0 %>
    <%= render @products %>
    <%= paginate @products, :window => 2 %>
  <% else %>
    <%= render 'products/no_products' %>
  <% end %>

</div>
