
<h3 class="title nmb">MERCHANTS IN THIS CATEGORY</h3>

<div class="reviews-item">
  <ul class="inline padded">
    <% Advertiser.fetch_by_categories_id(@categories.map(&:id)).random.limit(9).each do |advertiser| %>
      <li><%=avatar_of_advertiser(advertiser)%></li>
    <% end %>
  </ul>
</div>

<%= Rails.cache.fetch('sidebar_categories', :expires => 24.hours) {render 'layouts/sidebar_categories'} %>

