<% content_for(:page_title) { "#{DOMAIN_NAME} - Listing all the categories" } %>
<% content_for(:page_description) { "#{DOMAIN_NAME} - Listing all the categories" } %>

<div class="main_content detail-product">
  <h3 class="title uppercase">Categories</h3>

  <% if @categories.size > 0 %>
    <%= render @categories %>
    <%= paginate @categories, :window => 2 %>
  <% else %>
    <%= render 'categories/no_categories' %>
  <% end %>

</div>