<%
=begin %>
<!-- <form class="search_top_form">            
  <ul>
    <li>
      <input type="text" value="" placeholder="Keyword...">
    </li>
    <li>
      <select name="type">
        <option value="1">Auto</option>
        <option value="2">Beauty and Fitness</option>
        <option value="3">Real Estate</option>
      </select>
    </li>
    <li>
      <select name="city">
        <option value="1">All city...</option>
        <option value="2">Da Nang</option>
        <option value="3">Ho Chi Minh</option>
      </select>
    </li>
    <li>
      <button class="btn btn-warning"><i class="icon-search icon-white"></i> Search Now</button>
    </li>
  </ul>
</form> -->

<%
=end %>