<% content_for(:page_title) { "ShopWithMe - Listing all the products" } %>
<% content_for(:page_description) { "ShopWithMe - Listing all the products" } %>

<%=render 'search_form'%>

<div class="main_content detail-product">
  <h3 class="title">LISTINGS</h3>

  <% path = ab_test('details_link_to_visit_in_listing', 'yes', 'no')%>
  <% if @products.size > 0 %>
    <%= render @products, :path => path %>
    <%= paginate @products, :window => 2 %>
  <% else %>
    <%= render 'products/no_products' %>
  <% end %>

</div>
