<hr>
<footer>
    <!-- AddThis Button BEGIN -->
    <div class="clearfix addthis_toolbox addthis_default_style ">
      <p class="pull-left">&copy; Shop-With.me</p>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_pinterest_pinit"></a>
      <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51993ef2289b1b22"></script>
    <!-- AddThis Button END -->

</footer>